/* Box Model Hack */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.contentsidebar {
  display: flex;
  flex-wrap: wrap;
}
nav ul {
  list-style: none;
  font-size: 2rem;
}

nav li {
  padding: 1rem;
  color: black;
}
.col nav img {
  border-radius: 50%;
  height: 10rem;
  width: 100%;
  margin-bottom: 3rem;
}

.contentsidebar > *:nth-child(1) {
  flex: 1 1 20%;
  justify-content: center;
}

.contentsidebar > *:nth-child(2) {
  flex: 1 1 80%;
}
.col-about {
  display: inline-flex;
  flex-direction: column;
}
.col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.aboutme {
  padding: 7rem 0rem 10rem 10rem;
}

.aboutme button {
  padding: 1.5rem;
  width: 14rem;
  border-radius: 4%;
}
.aboutme h1 {
  font-size: 7rem;
}
section {
  flex-basis: 100%;
}

.skills {
  display: flex;
  justify-content: space-around;
  padding-top: 15rem;
}
.projects {
  display: flex;
  justify-content: space-around;
}
.myProjects {
  border: 2px solid green;
  height: 10rem;
  width: 10rem;
}
