/* Box Model Hack */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.contentsidebar {
  display: flex;
  flex-wrap: wrap;
}
nav ul {
  list-style: none;
  font-size: 2rem;
}

nav li {
  padding: 1rem;
  color: black;
}
.col nav img {
  border-radius: 50%;
  height: 10rem;
  width: 100%;
  margin-bottom: 3rem;
}

.contentsidebar > *:nth-child(1) {
  flex: 1 1 20%;
  justify-content: center;
}

.contentsidebar > *:nth-child(2) {
  flex: 1 1 80%;
}
.col-about {
  display: inline-flex;
  flex-direction: column;
}
.col {
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  flex-wrap: wrap;
}
.aboutme {
  padding: 10rem 0rem 20rem 0rem;
  text-align: center;
}

.aboutme button {
  padding: 1.5rem;
  width: 14rem;
  border-radius: 4%;
}
.aboutme h1 {
  font-size: 7.5rem;
}

.front {
  text-align: center;
  font-size: 2rem;
}
section {
  flex-basis: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 5rem;
  border: 1px solid red;
  /* background-color: gray; */
}
.mySkills {
  padding: 2rem 15rem 0rem 8rem;
}
.mySkills img {
  display: flex;
  width: 28rem;
  height: 30rem;
  justify-content: flex-end;
}
.mySkills ul li {
  list-style: none;
  padding: 2rem;
  font-size: 2rem;
}
.projects {
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;
}
.myProjects {
  border: 2px solid green;
  height: 10rem;
  width: 10rem;
}
